* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    color: #fff;
    min-height: 80vh;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(31, 132, 248)
}

.calculator-body p {
    padding: 5px 0;
}

.calculator-body input,
select {
    width: 100%;
    height: 25px;
    border: none;
}